body{
    font-family: "Poppins", sans-serif;

}
.navbar{
    background-color: #1e2133;
}

.letra-light{
    font-weight: lighter;
}

#cabecalho .navbar-brand, .navbar-brand:hover{
    color: white;
}

#cabecalho .nav .nav-link.active{
    background-color: white;
    color: #1e2133;
}

#cabecalho .nav .nav-link, 
.nav-habilidades .nav-link.active:hover{
    color: white;
}

.navbar-toggler{
    background-color: white;
}

.nav-habilidades .nav-link.active,
#fale-conosco button{
    background-color: #1e2133;
    color: white;
}

.nav-habilidades .nav-link:hover{
    color: #1e2133;
}

.social-links li{
    list-style: none;
}

.text-colored{
    color: #1e2133;;
}

.imagecontainer:hover img {
    transform: scale(1.04); /* Ampliação da imagem em 20% */
  }

.imagecontainer img {
    transition: transform 0.3s ease; /* Suaviza a transição */
    width: 100%; /* Tamanho inicial da imagem */
  }

.linkStyle{
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto ao redor */
}

